<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParusBackupAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ParusBackupAdmin.Properties.Settings>
            <setting name="check_interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="autohelper_checkbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dirs" serializeAs="String">
                <value />
            </setting>
            <setting name="savepath" serializeAs="String">
                <value />
            </setting>
            <setting name="bWautoclose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emailnotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emails" serializeAs="String">
                <value />
            </setting>
            <setting name="emailpass" serializeAs="String">
                <value />
            </setting>
            <setting name="emaillogin" serializeAs="String">
                <value />
            </setting>
            <setting name="backupauto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backupday" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backuphour" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="backupminute" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startcheck" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="alert_interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="alert1box" serializeAs="String">
                <value>Необходимо закрыть Парус к {time} для создания бэкапа база данных.</value>
            </setting>
            <setting name="alert2box" serializeAs="String">
                <value>Производится бэкап базы данных. Нельзя запускать Парус до {time}</value>
            </setting>
        </ParusBackupAdmin.Properties.Settings>
    </userSettings>
</configuration>